<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @player_assignment %>
    <input type="hidden" name="player_assignment_id" value="<%= @player_assignment.id %>" />
  <% end %>

  <p><strong>Mission #<%= @team.mission.mission_number + 1%></strong></p>
  <p>
    <strong>Players on Team:</strong>
    <br />
    <% @team.mission.game.player_assignments.each do |pa| %>
      <%= check_box_tag('team[team_assignments][]', pa.id, @team.team_assignments.map(&:player_assignment).include?(pa)) %>
      <%= pa.player.name %>
      <br />
    <% end %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
