<h1>Listing mission_capacities</h1>

<table>
  <thead>
    <tr>
      <th>Player count</th>
      <th>Mission number</th>
      <th>Capacity</th>
      <th>Fail count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mission_capacities.each do |mission_capacity| %>
      <tr>
        <td><%= mission_capacity.player_count %></td>
        <td><%= mission_capacity.mission_number %></td>
        <td><%= mission_capacity.capacity %></td>
        <td><%= mission_capacity.fail_count %></td>
        <td><%= link_to 'Show', mission_capacity %></td>
        <td><%= link_to 'Edit', edit_mission_capacity_path(mission_capacity) %></td>
        <td><%= link_to 'Destroy', mission_capacity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mission capacity', new_mission_capacity_path %>
