<%= form_for(@lady) do |f| %>
  <% if @lady.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lady.errors.count, "error") %> prohibited this lady from being saved:</h2>

      <ul>
      <% @lady.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mission_id %><br>
    <%= f.text_field :mission_id %>
  </div>
  <div class="field">
    <%= f.label :source_id %><br>
    <%= f.number_field :source_id %>
  </div>
  <div class="field">
    <%= f.label :target_id %><br>
    <%= f.number_field :target_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
