<%= form_for(@team_vote) do |f| %>
  <% if @team_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_vote.errors.count, "error") %> prohibited this team_vote from being saved:</h2>

      <ul>
      <% @team_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :approve %><br>
    <%= f.check_box :approve %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.text_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :player_assignment_id %><br>
    <%= f.text_field :player_assignment_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
