<script>
  $( document ).ready(function() {
    $('#source_row').clone().attr('id', null).appendTo('#outer_player_assignments_filters_div');
  });
</script>

<h4><strong>Select Graph Criteria</strong></h4>

<%=form_tag({controller: 'graphs', action: 'apply'}, {method: 'post'}) do %>
  <p><%= select_tag(:graph_perspective, options_for_select([["Player", "player"], ["Role", "role"], ["Faction", "faction"]]), {prompt: 'Select Perspective for Graph', id: 'graph_perspective', class: 'form-control'}) %></p>
  <p><%= select_tag(:graph_grouping, options_for_select([["Player", "player"], ["Role", "role"], ["Faction", "faction"], ["Player Count", "player_count"], ["Win Method", "win_method"]]), {prompt: 'Select Grouping for Graph', id: 'graph_grouping', class: 'form-control'}) %></p>
  <p>
     <strong>Game Filters</strong>
  </p>
  <p><%= select_tag(:filter_game_date, options_for_select(@games.map{|g| g.created_at.to_date}.uniq), {prompt: 'Set a Date', id: 'filter_game_date', class: 'form-control'}) %></p>
  <p><%= select_tag(:filter_game_public_vote, options_for_select([["Yes", "yes_public_vote"], ["No", "no_public_vote"]]), {prompt: 'Public Voting', id: 'filter_game_public_vote', class: 'form-control'}) %></p>
  <div id="outer_player_assignments_filters_div">
    <p>
       <strong>Player Assignment Filters</strong>
    </p>
  </div>
  <p>
    <input type="button" class="btn btn-default" onclick="$('#source_row').clone().attr('id', null).appendTo('#outer_player_assignments_filters_div')" value="Add New">
  </p>
  <input type="hidden" name="player_id" value="<%= @player.id %>" />
  <p><%= submit_tag 'Submit', {class: "btn btn-default"} %></p>
<% end %>
<div style="display:none;">
  <div id="source_row" class="form-group form-inline">
    <%= select_tag('player_assignments[player_id][]', options_for_select(@players.map{|p| [p.name, p.id]}, (@player.id unless @player.nil?)), {prompt: 'Select Player', class: 'form-control'}) %>
    <%= select_tag('player_assignments[role_id][]', options_for_select(@roles.map{|r| [r.name, r.id]}), {prompt: 'Select Role', class: 'form-control'}) %>
    <%= select_tag('player_assignments[faction_id][]', options_for_select(@factions.map{|f| [f.name, f.id]}), {prompt: 'Select Faction', class: 'form-control'}) %>
    <input type="button" class="btn btn-danger" onclick="$(this)[0].parentElement.remove()" value="Remove">
  </div>
</div>