<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <p>
      <%= f.check_box :public_vote %> Enable Public Voting
    </p>
    <p>
      <%= f.check_box :public_lancelot_switch %> Enable Public Lancelot Switch
    </p>
  </div>
  <div id="outer_player_and_role_div">
    <p>Add Players and Roles:</p>
  </div>
  <div style="display:none;">
    <div id="source_row" class="form-group form-inline">
      <select name='players[]' class="form-control ">
        <%= options_from_collection_for_select Player.all, 'id', 'name' %>
      </select>
      <select name='roles[]' class="form-control">
        <%= options_from_collection_for_select Role.all, 'id', 'name' %>
      </select>
      <input type="button" class="btn btn-danger btn-sm" onclick="$(this)[0].parentElement.remove()" value="Remove">
    </div>
  </div>
  <p>
    <input type="button" class="btn btn-default btn-sm" onclick="$('#source_row').clone().attr('id', null).appendTo('#outer_player_and_role_div')" value="Add New">
  </p>
  <p>
    <%= f.submit class:"btn btn-primary" %>
  </p>
<% end %>
