<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :public_vote %><br>
    <%= f.check_box :public_vote %>
  </div>
  <div class="field">
    <%= f.label :public_lancelot_switch %><br>
    <%= f.check_box :public_lancelot_switch %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
