<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Player</th>
    <th>Seat Number</th>
  </tr>
  <% @game.player_assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.player.name %></td>
      <td><%= assignment.seat_number %></td>
      <td><%= link_to 'Revealed Info', revealed_info_player_assignment_path(assignment) %></td>
    </tr>
  <% end %>
</table>

<table>
  <thead>
  <tr>
    <th>Mission Number</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <br />

  <tbody>
  <% @game.missions.each do |mission| %>
    <tr>
      <td><%= mission.mission_number+1 %></td>
      <td><%= link_to 'Details', mission %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><strong>Current King:</strong> <%= @game.current_king.player.name %></p>

<p>
  <strong>Public vote:</strong>
  <%= @game.public_vote %>
</p>

<p>
  <strong>Public lancelot switch:</strong>
  <%= @game.public_lancelot_switch %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
