<p id="notice"><%= notice %></p>

<p>
  <strong>Switched:</strong>
  <%= @lancelot.switched %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @lancelot.mission %>
</p>

<%= link_to 'Edit', edit_lancelot_path(@lancelot) %> |
<%= link_to 'Back', lancelots_path %>
