<p id="notice"><%= notice %></p>

<table>
  <thead>
  <tr>
    <th>Mission Number</th>
    <th>Team ID</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @mission.teams.each do |team| %>
    <tr>
      <td><%= team.mission.mission_number+1 %></td>
      <td><%= team.id %></td>
      <td><%= link_to 'Details', team %></td>
      <td><%= link_to 'Assign Team', team %></td>
      <td><%= link_to 'Vote on Team', team %></td>
    </tr>
  <% end %>
  </tbody>
</table>