<%= form_for(@team_assignment) do |f| %>
  <% if @team_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_assignment.errors.count, "error") %> prohibited this team_assignment from being saved:</h2>

      <ul>
      <% @team_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <input type="radio" id="team_assignment_pass_null" name="team_assignment[pass]" value="" <%= "checked" if @team_assignment.pass.nil? %> />
    <%= f.label :pass_null, 'No Vote' %>
    <input type="radio" id="team_assignment_pass_false" name="team_assignment[pass]" value="false" <%= "checked" if @team_assignment.pass == false %> />
    <%= f.label :pass_false, 'Fail' %>
    <input type="radio" id="team_assignment_pass_true" name="team_assignment[pass]" value="true" <%= "checked" if @team_assignment.pass? %> />
    <%= f.label :pass_true, 'Pass' %>
  </div>
  <%= f.hidden_field :team_id %>
  <%= f.hidden_field :player_assignment_id %>
  <%= hidden_field_tag :player_assignment_redirect, @player_assignment.id if @player_assignment %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
