<h1>Listing role_relationships</h1>

<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Revealed role</th>
      <th>Revealed faction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @role_relationships.each do |role_relationship| %>
      <tr>
        <td><%= role_relationship.role_id %></td>
        <td><%= role_relationship.revealed_role_id %></td>
        <td><%= role_relationship.revealed_faction %></td>
        <td><%= link_to 'Show', role_relationship %></td>
        <td><%= link_to 'Edit', edit_role_relationship_path(role_relationship) %></td>
        <td><%= link_to 'Destroy', role_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role relationship', new_role_relationship_path %>
