<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @role_relationship.role_id %>
</p>

<p>
  <strong>Revealed role:</strong>
  <%= @role_relationship.revealed_role_id %>
</p>

<p>
  <strong>Revealed allegiance:</strong>
  <%= @role_relationship.revealed_allegiance %>
</p>

<%= link_to 'Edit', edit_role_relationship_path(@role_relationship) %> |
<%= link_to 'Back', role_relationships_path %>
