<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @role_relationship.role.name %>
</p>

<p>
  <strong>Revealed role:</strong>
  <%= @role_relationship.revealed_role.name %>
</p>

<p>
  <strong>Revealed faction:</strong>
  <%= @role_relationship.revealed_faction? %>
</p>

<%= link_to 'Edit', edit_role_relationship_path(@role_relationship) %> |
<%= link_to 'Back', role_relationships_path %>
