<% if notice %>
  <div class="alert <%= "alert-#{flash[:type]}" if flash[:type] %>"><%= notice %></div>
<% end %>

<div id="game_status" class="alert alert-info">
  <strong>Status:</strong> <%= @player_assignment.game.status %>
</div>
<div id="team_assign">
  <%= render 'teams/form' if @renders[:team_assignments] %>
</div>
<br>
<div id="team_vote">
  <%= render 'team_votes/form'  if @renders[:team_votes] %>
</div>
<br>
<div id="mission_vote">
  <%= render 'team_assignments/form' if @renders[:mission_votes] %>
</div>
