<p id="notice"><%= notice %></p>

<div id="game_status">
  <%= @player_assignment.game.status %>
</div>
<div id="team_assign">
  <%= render 'teams/form' if @renders[:team_assignments] %>
</div>
<div id="team_vote">
  <%= render 'team_votes/form'  if @renders[:team_votes] %>
</div>
<div id="mission_vote">
  <%= render 'team_assignments/form' if @renders[:mission_votes] %>
</div>
