<% 
  team_count = @player_assignment.game.teams.count 
  player_count = @player_assignment.game.player_assignments.count
  assassin_target = @player_assignment.game.assassinated_assignment
  current_count = 1
%>
<% unless assassin_target.nil? %>
  <h3>Assassin targeted <%= assassin_target.player.name %> who was <%= 'not' if assassin_target.role.name != 'Merlin' %> Merlin</h3>
<% end %>
<% @player_assignment.game.missions.reverse.each do |mission| %>
  <h3>Mission #<%= mission.mission_number + 1 %> - <%= mission.capacity.capacity %> Players</h3>
  <% unless mission.lady.nil? or mission.lady.target.nil? %>
    <%= mission.lady.source.player.name %> used the Lady of the Lake on <%= mission.lady.target.player.name %><br />
  <% end %>
  <% mission.teams.reverse.each do |team| %>
    <% if team.assignments_complete? %>
      Team of <%= team.team_assignments.map{|ta| ta.player_assignment.player.name }.to_sentence %> was proposed by <%= @player_assignment.game.player_assignments.where(seat_number: (team_count - current_count) % player_count).first.player.name %><br />
    <% end %>
    <% current_count += 1 %>
    <% if team.team_voting_complete? %>
      <% if @player_assignment.game.public_vote? %>
        Team Voting results: <%= team.team_votes.map{|tv| "#{tv.player_assignment.player.name} #{tv.approve? ? 'approved' : 'rejected'} the team"}.to_sentence %><br />
      <% else %>
        Team Voting results: Approved: <%= team.team_votes.to_a.count(&:approve?) %>, Rejected: <%= team.team_votes.size - team.team_votes.to_a.count(&:approve?) %><br />
      <% end %>
    <% end %>
    <% if team.mission_voting_complete? %>
      <%= team.mission.voting_results.map{|k,v| "#{v} votes to #{k ? 'Pass' : 'Fail'}"}.to_sentence %><br />
    <% end %>
  <% end %>
<% end %>
