<% if notice %>
  <div class="alert <%= "alert-#{flash[:type]}" if flash[:type] %>"><%= notice %></div>
<% end %>
<div>
  <strong>Game ID:</strong> <%= @player_assignment.game.id %>
</div>
<div>
  <strong>Logged in as:</strong> <%= @player_assignment.player.name %>
</div>
<div class="current_king">
  <strong>Current King:</strong> <%= @player_assignment.game.current_king.player.name %>
</div>
<div class="current_mission">
  <strong>Current Mission:</strong> Mission #<%= @player_assignment.game.current_mission.mission_number + 1 %>
</div>
<br>
<div class="mission_status">
  <% if @waiting_players.size > 0 %>
   Waiting for [<%= @waiting_players.map(&:name).join(', ') %>] to <%= @mission_status_text %>
  <% end %>
</div>
<div class="scoreboard">
  <%= scoreboard_table @player_assignment.game %>
</div>
