<h4>You (<%= @player_assignment.player.name %>) are <strong><%= @player_assignment.role.name %></strong></h4>
<p>
  <%=image_tag("#{@player_assignment.role.name.downcase}.png") %>
</p>

<% if @player_assignment.visible_relationships.size != 0 %>
  <table class="table table-bordered">
    <tr>
      <td><strong>Revealed</strong></td>
    </tr>
    <% @player_assignment.visible_relationships.each do |info| %>
      <tr>
        <td class="revealed_<%= info[:faction].nil? ? 'unknown' : info[:faction].name.downcase %>"><%= info[:player].name %></td>
      </tr>
    <% end %>
  </table>
  <% if @player_assignment.role.name == 'Assassin' and !@player_assignment.game.assassinated_assignment %>
    <%= form_tag({controller: 'player_assignments', action:'assassinate'}, {method: 'post'}) do %>
      <h4>Assassinate:</h4>
      <% good_players = @player_assignment.game.player_assignments.to_a.select{|pa| pa.role.faction.name == 'Good'} %>
      <%= select('hit_list', '', good_players.map{|pa| [pa.player.name, pa.id]}, {prompt: 'Select a Player'}, {class: 'form-control'}) %>
      <%= hidden_field_tag :player_assignment_redirect, @player_assignment.id if @player_assignment %>
      <p><%= submit_tag 'Assassinate', {class: "btn btn-default btn-lg"} %></p>
    <% end %>
  <% end %>
<% end %>