<p>Player: <%= @player_assignment.player.name %><br />
Role: <%= @player_assignment.role.name %></p>

<p>
  <%=image_tag("#{@player_assignment.role.name.downcase}.png") %>
</p>

<table>
  <tr>
    <td><strong>Revealed</strong></td>
  </tr>
  <% @visible_relationships.each do |info| %>
    <tr>
      <td class="revealed_<%= info[:faction].nil? ? 'unknown' : info[:faction].name.downcase %>"><%= info[:player].name %></td>
    </tr>
  <% end %>
</table>
