<!DOCTYPE html>
<html>
<head>
  <title>ResistanceGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
  <li><%= link_to 'Factions', factions_path %></li>
  <li><%= link_to 'Mission Capacity', mission_capacities_path %></li>
  <li><%= link_to 'Roles', roles_path %></li>
  <li><%= link_to 'Role Relationships', role_relationships_path%></li>
  <li><%= link_to 'Players', players_path%></li>
  <li><%= link_to 'Games', games_path%></li>
</ul>
<%= yield %>

</body>
</html>
