<!DOCTYPE html>
<html>
  <head>
    <title>ResistanceGame</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-left active">
        <div class="sidebar-offcanvas" id="sidebar" role="navigation">
          <div id='navigation' class='list-group'>
            <%= link_to 'Factions', factions_path, {class: 'list-group-item'} %>
            <%= link_to 'Mission Capacity', mission_capacities_path, {class: 'list-group-item'} %>
            <%= link_to 'Roles', roles_path, {class: 'list-group-item'} %>
            <%= link_to 'Role Relationships', role_relationships_path, {class: 'list-group-item'} %>
            <%= link_to 'Players', players_path, {class: 'list-group-item'} %>
            <%= link_to 'Games', games_path, {class: 'list-group-item'} %>
            <%= link_to 'Missions', missions_path, {class: 'list-group-item'} %>
            <%= link_to 'Teams', teams_path, {class: 'list-group-item'} %>
          </div>
        </div>
        <div id='content'>
          <%= yield %>
        </div>
      </div>
     </div>
  </body>
</html>
