<!DOCTYPE html>
<html>
  <head>
    <title>Resistance Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left active">
      <div class="sidebar-offcanvas" id="sidebar" role="navigation">
        <div id='navigation' class='list-group'>
          <%= link_to 'Current Games', current_games_player_path(@player), {class: 'list-group-item'} %>
          <%= link_to 'Archived Games', archived_games_player_path(@player), {class: 'list-group-item'} %>
          <%= link_to 'Graphs', {controller: 'graphs', action: 'index', player_id: @player}, {class: 'list-group-item'} %>
          <%= link_to 'Account Info', edit_player_path(@player), {class: 'list-group-item'} %>
          <%= link_to 'Log Out', root_path, {class: 'list-group-item'} %>
        </div>
      </div>
      <div id='content'>
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
